<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded fixed-top" style="background-color: #AC2341;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="  Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">
    <img src="/hgss-logo.png" style="height: 40px; width: auto; margin-top: -8px; margin-bottom: -8px;"> HGSS
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <%= render_navigation :expand_all => true %>
    <% if user_signed_in? %>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" data-href="<%= new_rescue_action_path %>"><%= fa_icon "plus-circle" %> <%=t :"New Rescue Action" %></button>
    <% end %>
  </div>
</nav>