<form id="search_form">
	<div class="input-group">
		<input id="search_input" type="text" name="daterange" class="form-control" value="<%= params[:search] %>" />
		<span class="input-group-btn">
			<a id="search_button" class="btn btn-primary" href="#"><%= fa_icon "arrow-right" %></a>
		</span>
	</div>
</form>