<h2>Uređivanje obavijesti</h2>

<%= render 'form' %>

<%= link_to 'Prikaži', [@feed_item.rescue_action, @feed_item] %> |
<%= link_to 'Back', rescue_action_feed_items_path(@feed_item.rescue_action) %>
