<p>
  <b>Text:</b>
  <%= @feed_item.text %>
</p>

<p>
  <b>Author:</b>
  <%= @feed_item.author %>
</p>


<%= link_to 'Uredi', edit_rescue_action_feed_item_path(@feed_item.rescue_action, @feed_item) %> |
<%= link_to 'Back', rescue_action_feed_items_path(@feed_item.rescue_action) %>
