<h3>Editing Rescue Action Area Rescuer</h3>

<%= render 'form', rescue_action_area_rescuer: @rescue_action_area_rescuer %>

<%= link_to 'Show', @rescue_action_area_rescuer %> |
<%= link_to 'Back', rescue_action_area_rescuers_path %>
